{% extends "layout.html.j2" %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="wraper">
<a class="btn" href="{{ url_for('handle_dices') }}">Roll dice</a>
<p class="description">Click the button to open the dice roller page.</p>
</div>
<div>

    {% if _name %}
    <p>Hello,{{ _name | capitalize }}!!</p>
    {% else %}
    <h2 class="text_1">Welcome to the Dice Roller</h2>
<p class="text_2">Use this small Flask app to roll dice and test basic routes and templates.</p>
    {% endif %}
</div>

{% endblock %}

{% block author %}
  Stevan Aleksandrov
{% endblock %}