#header {
    text-align: center;
    border: 1px solid rgb(107, 105, 101);
    border-radius: 3px;
    background: rgba(220, 214, 204, 0.613);
    margin: 16px auto;
    color: rgb(45, 13, 13);
}



  .btn {
    display: inline-block;
    border: 2px solid rgb(107, 105, 101);
    border-radius: 3px;
    text-decoration: none;
    color: black;
    padding: 8px 14px;
    margin-top: 15px;
}

.text_1 {rgb(45, 13, 13);
   text-decoration: overline;
    
    margin: auto 5px;
}

#content {
    max-width: 700px;
    margin: 40px auto;
    text-align: center;
}

#footer {
    margin : 20rem 15rem;
}